<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="netfx.4.8.1.Beckhoff" version="4.8.9037.7" />
  <package id="TC170x.UsermodeRuntime.XAR" version="4026.14.0" />
  <package id="TwinCAT.Prep" version="1.0.29" />
  <package id="TwinCAT.Standard.XAE" version="4026.14.0" />
  <package id="TwinCAT.StandardRM.XAE" version="4026.14.0" />
  <package id="TwinCAT.XAE.AdsApi" version="1.2.5" />
  <package id="TwinCAT.XAE.Base" version="1.2.0" />
  <package id="TwinCAT.XAE.DALI" version="1.0.0" />
  <package id="TwinCAT.XAE.Debugger" version="2.7.11" />
  <package id="TwinCAT.XAE.DocDataProvider" version="1.1.8" />
  <package id="TwinCAT.XAE.EL6201" version="1.0.5" />
  <package id="TwinCAT.XAE.EL6692Master" version="1.0.5" />
  <package id="TwinCAT.XAE.EL6692Slave" version="1.0.4" />
  <package id="TwinCAT.XAE.EL6695" version="1.0.8" />
  <package id="TwinCAT.XAE.EtherCATConfig" version="2.0.57" />
  <package id="TwinCAT.XAE.EtherCATSlave" version="2.0.6" />
  <package id="TwinCAT.XAE.EtherCATTopology" version="1.2.0" />
  <package id="TwinCAT.XAE.Eventlogger" version="1.4.8" />
  <package id="TwinCAT.XAE.FieldbussesBase" version="1.11.1" />
  <package id="TwinCAT.XAE.HART" version="1.0.4" />
  <package id="TwinCAT.XAE.Integration" version="2.11.0" />
  <package id="TwinCAT.XAE.IOLink" version="1.1.19" />
  <package id="TwinCAT.XAE.PLC" version="5.7.11" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Drive" version="3.3.14" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_EtherCAT" version="3.5.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_EthernetIP" version="1.1.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_IoFunctions" version="3.4.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Math" version="3.5.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2" version="3.3.68" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_MC2_Drive" version="3.3.48" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_ProfinetDiag" version="1.5.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Standard" version="3.4.5" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_System" version="3.6.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_SystemCX" version="3.5.3" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc2_Utilities" version="3.9.2" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_DriveMotionControl" version="3.0.14" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_DynamicMemory" version="1.1.4" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_EventLogger" version="3.3.13" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_IoLink" version="3.4.6" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_IPCDiag" version="1.2.1" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_JsonXml" version="3.4.7" />
  <package id="TwinCAT.XAE.PLC.Lib.Tc3_Module" version="3.4.5" />
  <package id="TwinCAT.XAE.PLC.RM.4026.14" version="5.7.11" />
  <package id="TwinCAT.XAE.ProjectCompare" version="2.0.20" />
  <package id="TwinCAT.XAE.SafetyEditor" version="1.2.13" />
  <package id="TwinCAT.XAE.Shell64" version="4.7.4" />
  <package id="TwinCAT.XAE.StandaloneTypesystem_1_16" version="1.16.25" />
  <package id="TwinCAT.XAE.SystemManagerBase" version="2.5.49" />
  <package id="TwinCAT.XAE.SystemManagerBase.RM.4026.14" version="2.5.49" />
  <package id="TwinCAT.XAE.SystemManagerInterops" version="2.6.0" />
  <package id="TwinCAT.XAE.SystemManagerVS" version="2.5.49" />
  <package id="TwinCAT.XAE.SystemManagerVS.RM.4026.14" version="2.5.49" />
  <package id="TwinCAT.XAE.TMC" version="1.5.7" />
  <package id="TwinCAT.XAR.AdsApi" version="1.2.5" />
  <package id="TwinCAT.XAR.Base" version="2.3.5" />
  <package id="TwinCAT.XAR.CxDevice" version="1.1.6" />
  <package id="TwinCAT.XAR.UserModeRuntime" version="1.13.7" />
  <package id="vcredist100.Beckhoff" version="10.0.40219.325" />
  <package id="vcredist140.Beckhoff" version="14.38.33130" />
</packages>